<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-10 col-lg-offset-1">
                <h1>Projet Bibliothéque</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Espace agent aux inscriptions</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                         pret(s) 
                                    </div>
                                    <br>
									<tr>
       									<th>id</th>
									</tr>
                                    <table>
                                    {% for result in results %}
                                        <tr>
                                        <td>{{ result.id }}</td>
                                            </tr>
                                    {% endfor %}
                                    </table>
                                
                     <hr>
                     <a href="{{ path('projet_bibliotheque_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour à l'accueil</button></a>    
            </div>
        </div>
    </body>
</html>
