<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h1>Projet Bibliothéque</h1>
        <div class="panel panel-default">
            <div class="panel-heading"> rechercher inscrit(s) </div>
            <div class="panel-body">
                <table>
            <tr>
                <th>nom</th>
                <th>prenom</th>
            </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.nom }}</td>
                <td>{{ result.prenom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inscrit_show', { 'id': result.id }) }}"><button type="button" class="btn btn-primary"class="btn btn-primary">details</button></a>
                            <br>
                        </li>
                        <li>
                            <a href="{{ path('projet_bibliotheque_lecteurs_pret', { 'id': result.id }) }}"><button type="button" class="btn btn-primary"class="btn btn-primary">pret(s)</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        <br>
        <a href="{{ path('projet_bibliotheque_lecteurs_rechercheNom') }}"><button type="button" class="btn btn-primary"class="btn btn-primary">nouvelle recherche </button></a>
        <br>
        <a href="{{ path('projet_bibliotheque_lecteurs_homepage') }}"><button type="button" class="btn btn-primary"class="btn btn-primary">menu agent aux inscription</button></a>
        </body>
            </div>
        </div>
    </div>
</div>
</body>
</html>
