{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etagère</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etagere.id }}</td>
            </tr>
            <tr>
                <th>Désignation du rayon</th>
                <td>{{ etagere.etageresRayon }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ etagere.numero }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etagere_index') }}">Retour à la liste des étagères</a>
        </li>
    </ul>
{% endblock %}
