{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archive list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre_livre</th>
                <th>Nom_prenom</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td><a href="{{ path('archive_show', { 'id': archive.id }) }}">{{ archive.id }}</a></td>
                <td>{{ archive.titrelivre }}</td>
                <td>{{ archive.nomprenom }}</td>
                <td>{{ archive.datedebut }}</td>
                <td>{{ archive.datefin }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('archive_show', { 'id': archive.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('archive_edit', { 'id': archive.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archive_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
