<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="col-md-10 col-lg-offset-1">

    <h1>Exemplaires</h1>
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">

    <table>
        <thead>
            <tr>
                <th>Rayon        </th>
                <th>Etagère            </th>
                <th>Livre                        </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exemplaire in exemplaires %}

            <tr>     
                <td>{{ exemplaire.getExemplairesEtagere.getEtageresRayon }}</td>           
                <td>{{ exemplaire.exemplairesEtagere }}</td>
                <td>{{ exemplaire.exemplairesLivre }}</td>

                    <td>

                    <a href="{{ path('exemplaire_show', { 'id': exemplaire.id }) }}">Voir</a>
                     /// 
                    <a href="{{ path('exemplaire_edit', { 'id': exemplaire.id }) }}">Modifier/Supprimer</a>
                    
                </td>
                <td><hr/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<hr/>
    <ul>
        <li>
            <a href="{{ path('exemplaire_new') }}">Créer un nouvel exemplaire</a>
        </li>
    </ul>
</div>
</div>
        <a href="{{ path('projet_bibliotheque_magasinier_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour au menu "Magasinier"</button></a>
        <hr/>
        <a href="{{ path('projet_bibliotheque_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour à l'accueil"</button></a>

