<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="col-md-10 col-lg-offset-1">

    <h1>Livres</h1>
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">

    <table>
        <thead>
            <tr>
                <th>Rayon        </th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}

            <tr>     
                <td>{{ livre.titre }}</td>           


                    <td>

                    <a href="{{ path('livre_show', { 'id': livre.id }) }}">Détails du livre</a>
                     /// 
                    <a href="{{ path('exemplaire_livre_index', { 'id': livre.id }) }}">Liste d'exemplaires</a>
                    
                </td>
                <td><hr/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<hr/>
</div>
</div>
        <a href="{{ path('projet_bibliotheque_magasinier_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour au menu "Magasinier"</button></a>
        <hr/>
        <a href="{{ path('projet_bibliotheque_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour à l'accueil"</button></a>

