{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exemplaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exemplaire.id }}</td>
            </tr>
            <tr>
                <th>Numéro Etagère</th>
                <td>{{ exemplaire.exemplairesEtagere }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ exemplaire.exemplairesLivre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exemplaire_index') }}">Retour à la liste des exemplaires</a>
        </li>
    </ul>
{% endblock %}
