{% extends 'base.html.twig' %}

{% block body %}
    <h1>Theme list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td><a href="{{ path('theme_show', { 'id': theme.id }) }}">{{ theme.id }}</a></td>
                <td>{{ theme.nom }}</td>
                <td>{{ theme.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('theme_show', { 'id': theme.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('theme_edit', { 'id': theme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('theme_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
