<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h1>Projet Bibliothéque</h1>
        <div class="panel panel-default">
            <div class="panel-heading"> liste des facultés</div>
            <div class="panel-body">
    <a href="{{ path('projet_bibliotheque_lecteurs_homepage') }}"><button type="button" class="btn btn-primary"class="btn btn-primary">menu agent aux inscription</button></a>
    <table>
        <thead>
            <tr>
                <th>nom</th>
            </tr>
        </thead>
        <tbody>
        {% for faculte in facultes %}
            <tr>
                <td>{{ faculte.nom }}</td>
                <td>
                    <ul>
                       
                            <a href="{{ path('faculte_show', { 'id': faculte.id }) }}"><button type="button" class="btn btn-primary"class="btn btn-primary">details</button></a>                       
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faculte_new') }}"><button type="button" class="btn btn-primary"class="btn btn-primary">ajouter une faculte</button></a>
        </li>
    </ul>
        </body>
            </div>
        </div>
    </div>
</div>
</body>
</html>
