<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h1>Projet Bibliothéque</h1>
        <div class="panel panel-default">
            <div class="panel-heading"> falculte</div>
            <div class="panel-body">
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faculte.id }}</td>
            </tr>
            <tr>
                <th>nom</th>
                <td>{{ faculte.nom }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <br>
        <li>   
            <a href="{{ path('faculte_index') }}"><button type="button" class="btn btn-primary"class="btn btn-primary">retour vers la liste</button></a>
        </li>
    </ul>
   
        </body>
            </div>
        </div>
    </div>
</div>
</body>
</html>
