{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un rayon</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('rayon_index') }}">Revenir à la liste des rayons</a>
        </li>
    </ul>
{% endblock %}
