{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rayon</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rayon.id }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ rayon.designation }}</td>
            </tr>
            <tr>
                <th>Thème</th>
                <td>{{ rayon.rayonsTheme }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rayon_index') }}">Retour à la liste des rayons</a>
        </li>
    </ul>
{% endblock %}
