<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-10 col-lg-offset-1">
                <h1>Projet Bibliothéque</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">Espace Lecteur</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                Voir les prêts en cours
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('projet_bibliotheque_agent_en_cours') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8">
                                Vérifier la disponibilité d'un ouvrage
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('projet_bibliotheque_agent_dispo') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8">
                                Enregistrer une sortie/rentrée d'un livre
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('projet_bibliotheque_agent_rentree_inscrit') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button></a>
                                <a href="{{ path('projet_bibliotheque_agent_sortie_livre') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8">
                                Livre non-rendu
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('projet_bibliotheque_agent_non_rendu') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8">
                                Voir les archives des prêts
                            </div>
                            <div class="col-lg-4">
                                <a href="{{ path('projet_bibliotheque_agent_archive') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('projet_bibliotheque_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour à l'accueil</button></a>
            </div>
        </div>
    </body>
</html>