{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etagere list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etagere in etageres %}
            <tr>
                <td><a href="{{ path('etagere_show', { 'id': etagere.id }) }}">{{ etagere.id }}</a></td>
                <td>{{ etagere.numero }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etagere_show', { 'id': etagere.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etagere_edit', { 'id': etagere.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etagere_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
